$main-font: 'Open Sans', sans-serif
$logo-font: 'Bringin'
$btn-font: 'Raleway', sans-serif
$hww-font: 'Roboto', sans-serif
$nav-color: #9daeb6
$text-header-info-color: #ffffff
$blue-color: #36aeea
$title-color: #2c2e37
$text-color: #949494
$love-color: #16b5ef
$color-hover: #0083b3
$gray-elem-color: #f0f3f6
$bg-color: #f6f4f4
$cont-size: 1170px

@font-face
  font-family: 'Bringin'
  src: url("../fonts/Bringin.ttf") format('truetype')

li, ul
  list-style: none

%title
  font-family: $main-font
  font-weight: 700
  color: $title-color

%text
  font-family: $main-font
  font-weight: 400
  color: $text-color

%btn
  font-weight: 700
  font-family: $btn-font
  letter-spacing: 0.12em
  color: $text-header-info-color
  background-color: $blue-color
  border: none
  border-radius: 4px

%before-after
  content: ''
  display: block
  position: absolute

%before-line
  content: ''
  background: url("../images/line.png") no-repeat
  height: 10px
  width: 83px
  display: block

%card-title
  font-size: 11px
  font-family: $main-font
  font-weight: 700
  color: $blue-color

%card-main
  font-size: 16px
  font-family: $main-font
  font-weight: 700
  letter-spacing: 2px

%card-text
  font-size: 14px
  font-family: $main-font
  font-weight: 400
  color: $text-color

%card-number
  font-size: 14px
  font-family: "Times New Roman"

%before-triangle
  content: ''
  border: 13px solid transparent
  display: block
  position: absolute
  z-index: 999

.header
  background: url("../images/header /bg.png") no-repeat center
  background-size: cover
  height: 696px
  .header-nav
    background-color: rgba(255, 255, 255, 32%)
    background-size: cover
    height: 87px
    .container
      max-width: $cont-size
      .nav
        padding-top: 31px
        .nav-logo
          padding-left: 38px
          font-family: $logo-font
          height: 58px
          font-size: 29px
          color: $blue-color
          span
            color: $text-color
        .nav-menu
          padding-right: 39px
          padding-left: 0
          justify-content: space-between
          border-bottom: 2px solid transparent
          &__item
            a
              text-decoration: none
              font-family: $main-font
              font-weight: 700
              font-size: 12px
              color: $text-color
              padding-bottom: 8px
              &:hover
                border-bottom: 2px solid $blue-color
            .active
              border-bottom: 2px solid $blue-color
      .header-call
        text-decoration: none
        font-size: 12px
        font-weight: 700
        color: $blue-color
        border: 3px solid $blue-color
        padding: 14px 51px
        margin-left: 30px
        border-radius: 4px
        font-family: $btn-font
  .container
    max-width: $cont-size
    .header-info
      background: url("../images/header /arch.png") no-repeat center
      height: 326px
      width: 1140px
      position: relative
      top: 131px
      left: 15px
      &__words
        padding-top: 40px
        padding-left: 20px
        color: $text-header-info-color
        font-family: $main-font
        .words-maintitle
          font-size: 50px
          font-weight: 700
          letter-spacing: 6.5px
          position: relative
        .words-title
          font-size: 70px
          font-family: $logo-font
          color: $blue-color
          position: absolute
          top: 73px
        .words-text
          padding-top: 43px
          font-size: 18px
        .words-btn
          @extend %btn
          font-size: 14px
          padding: 23px 73px
          margin-top: 6px
          &:hover
            background-color: $color-hover
.about
  background-color: $bg-color
  height: 670px
  .container
    max-width: $cont-size
    position: relative
    font-family: $main-font
    padding-top: 26px
    &:before
      content: ''
      background: url("../images/about/map.png") no-repeat center center
      height: 528px
      width: 1154px
      display: block
      margin-left: 93px
    .row
      position: absolute
      top: 0
      .about-text
        padding-top: 201px
        &:before
          @extend %before-line
          padding-bottom: 43px
        &__title
          @extend %title
          font-size: 20px
          padding-bottom: 17px
        &__words
          @extend %text
          font-size: 14px
          padding-bottom: 17px
          line-height: 26px
          letter-spacing: 0.02em
        &__btn
          @extend %btn
          font-size: 12px
          padding: 11px 25px
          &:hover
            background-color: $color-hover
      .about-img
        &__back
          position: relative
          bottom: 37px
          left: 60px
        &__front
          position: absolute
          left: 469px
          top: 279px
.journal
  .container
    max-width: $cont-size
    .journal-title
      @extend %title
      font-size: 30px
      position: relative
      padding-top: 114px
      padding-bottom: 72px
      letter-spacing: 0.05em
      &:before
        @extend %before-line
        position: absolute
        right: 46.5%
        top: 69px
    .journal-box
      box-shadow: 2px 0 90px 23px rgba(6,6,6,0.13)
      margin-bottom: 91px
      display: flex
      .row
        --bs-gutter-x: 0
      &__firstandsecond
        .first-box
          border: none
          &:before
            @extend %before-after
            background: url("../images/journal/heart.png") no-repeat
            height: 81px
            width: 81px
            left: 147px
            top: 147px
          .card-img
            height: 380px
            width: 380px
            border-radius: 0
          .card-body
            padding: 46px 35px 23px
            position: relative
            &:before
              @extend %before-triangle
              border-right: 13px solid #FFFFFF
              left: -23px
              top: 51px
            &__title
              @extend %card-title
              padding-bottom: 46px
            &__main
              @extend %card-main
              padding-bottom: 16px
            &__text
              @extend %card-text
              padding-bottom: 24px
            &__number
              @extend %card-number
        .second-box
          border: none
          &:before
            @extend %before-after
            background: url("../images/journal/leaf.png") no-repeat
            height: 65px
            width: 65px
            right: 160px
            top: 170px
            z-index: 999
          .card-body
            padding: 46px 54px 20px
            position: relative
            &:before
              @extend %before-triangle
              border-left: 13px solid #FFFFFF
              right: -23px
              top: 51px
            &__title
              @extend %card-title
              padding-bottom: 44px
              color: $color-hover
            &__main
              @extend %card-main
              padding-bottom: 21px
            &__text
              @extend %card-text
              padding-bottom: 24px
            &__number
              @extend %card-number
          .card-img
            height: 382px
            width: 380px
            border-radius: 0
            position: relative
            &:before
              @extend %before-after
              background: url("../images/journal/leaf.png") no-repeat
              height: 65px
              width: 65px
      &__third-d
        .third-box
          border: none
          &:before
            @extend %before-after
            background: url("../images/journal/drop.png") no-repeat
            height: 74px
            width: 59px
            left: 160px
            top: 147px
          .card-img
            height: 380px
            width: 380px
            border-radius: 0
          .card-body
            height: 382px
            padding: 46px 51px 20px
            position: relative
            &:before
              @extend %before-triangle
              border-bottom: 13px solid #FFFFFF
              top: -23px
              left: 51px
            &__title
              @extend %card-title
              padding-bottom: 45px
              color: $color-hover
            &__main
              @extend %card-main
              padding-bottom: 45px
            &__text
              @extend %card-text
              padding-bottom: 24px
            &__number
              @extend %card-number
      &__third-m
        display: none
        .third-box
          border: none
          &:before
            @extend %before-after
            background: url("../images/journal/drop.png") no-repeat
            height: 74px
            width: 59px
            left: 160px
            top: 147px
          .card-img
            height: 380px
            width: 380px
            border-radius: 0
          .card-body
            padding: 46px 51px 20px
            position: relative
            &:before
              @extend %before-triangle
              border-right: 13px solid #FFFFFF
              left: -23px
              top: 51px
            &__title
              @extend %card-title
              padding-bottom: 45px
              color: $color-hover
            &__main
              @extend %card-main
              padding-bottom: 45px
            &__text
              @extend %card-text
              padding-bottom: 24px
            &__number
              @extend %card-number












