@font-face {
  font-family: "Bringin";
  src: url("../fonts/Bringin.ttf") format("truetype");
}
h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

li, ul {
  list-style: none;
}

.btn {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.12em;
}

.header {
  background: url("../images/header /bg.png") no-repeat center;
  background-size: cover;
  height: 696px;
}
.header .header-nav {
  background-color: rgba(255, 255, 255, 0.32);
  background-size: cover;
  height: 87px;
}
.header .header-nav .container {
  max-width: 1170px;
}
.header .header-nav .container .nav {
  padding-top: 31px;
}
.header .header-nav .container .nav .nav-logo {
  padding-left: 38px;
  font-family: "Bringin";
  height: 58px;
  font-size: 29px;
  color: #36aeea;
}
.header .header-nav .container .nav .nav-logo span {
  color: #949494;
}
.header .header-nav .container .nav .nav-menu {
  padding-right: 39px;
  padding-left: 0;
  justify-content: space-between;
  border-bottom: 2px solid transparent;
}
.header .header-nav .container .nav .nav-menu__item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #949494;
  padding-bottom: 8px;
}
.header .header-nav .container .nav .nav-menu__item a:hover {
  border-bottom: 2px solid #36aeea;
}
.header .header-nav .container .nav .nav-menu__item .active {
  border-bottom: 2px solid #36aeea;
}
.header .header-nav .container .header-call {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #36aeea;
  border: 3px solid #36aeea;
  padding: 14px 51px;
  margin-left: 30px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
}
.header .container {
  max-width: 1170px;
}
.header .container .header-info {
  background: url("../images/header /arch.png") no-repeat center;
  height: 326px;
  width: 1140px;
  position: relative;
  top: 131px;
  left: 15px;
}
.header .container .header-info__words {
  padding-top: 40px;
  padding-left: 20px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
.header .container .header-info__words .words-maintitle {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 6.5px;
  position: relative;
}
.header .container .header-info__words .words-title {
  font-size: 70px;
  font-family: "Bringin";
  color: #36aeea;
  position: absolute;
  top: 73px;
}
.header .container .header-info__words .words-text {
  padding-top: 43px;
  font-size: 18px;
}
.header .container .header-info__words .words-btn {
  color: #ffffff;
  background-color: #36aeea;
  font-size: 14px;
  padding: 23px 73px;
  margin-top: 6px;
}
.header .container .header-info__words .words-btn:hover {
  background-color: #0083b3;
}

.about {
  background-color: #f0f3f6;
  height: 670px;
}
.about .container {
  max-width: 1170px;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.about .container:before {
  content: "";
  background: url("../images/about/map.png") no-repeat center center;
  height: 528px;
  width: 1154px;
  display: block;
  position: relative;
  left: 93px;
  top: 26px;
}
.about .container:after {
  content: "";
  background: url("../images/about/legs.png") no-repeat;
  height: 350px;
  width: 350px;
  display: block;
  position: absolute;
  left: 465px;
  top: 279px;
}
.about .container .about-text {
  position: absolute;
  top: 204px;
}
.about .container .about-text:before {
  content: "";
  background: url("../images/line.png") no-repeat;
  height: 10px;
  width: 83px;
  display: block;
  padding-bottom: 43px;
}
.about .container .about-text__title {
  font-size: 20px;
  color: #2c2e37;
  font-weight: 700;
  padding-bottom: 17px;
}
.about .container .about-text__words {
  font-size: 14px;
  color: #949494;
  padding-bottom: 17px;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.about .container .about-text__btn {
  color: #ffffff;
  background-color: #36aeea;
  font-size: 12px;
  padding: 11px 25px;
}
.about .container .about-img {
  position: absolute;
  top: -35px;
  padding-left: 60px;
}

.journal .container {
  max-width: 1170px;
}
.journal .container .journal-title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  padding-top: 114px;
  padding-bottom: 72px;
}
.journal .container .journal-title:before {
  content: "";
  background: url("../images/line.png") no-repeat;
  height: 10px;
  width: 83px;
  display: block;
  position: absolute;
  right: 46%;
  top: 69px;
}
.journal .container .journal-box {
  display: flex;
}
.journal .container .journal-box__third-m {
  display: none;
}

/*# sourceMappingURL=style.css.map */
