$main-font: 'Open Sans', sans-serif
$logo-font: 'Bringin'
$btn-font: 'Raleway', sans-serif
$hww-font: 'Roboto', sans-serif
$nav-color: #9daeb6
$logo-color: #36aeea
$text-header-info-color: #ffffff
$btn-color: #56c7ff
$title-color: #2c2e37
$text-color: #949494
$love-color: #16b5ef
$tree-water-color: #0083b3
$gray-elem-color: #f0f3f6
$bg-color: #f6f4f4

@font-face
  font-family: 'Bringin'
  src: url("../fonts/Bringin.ttf") format('truetype')
