@font-face {
  font-family: "Bringin";
  src: url("../fonts/Bringin.ttf") format("truetype");
}
li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wanna .container .wanna-text__title, .journal .container .journal-title, .about .container .row .about-text__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #2c2e37;
  letter-spacing: 2px;
}

.wanna .container .wanna-text__footnote .footnote-text, .wanna .container .wanna-text__form .form-phone, .wanna .container .wanna-text__form .form-name, .wanna .container .wanna-text__words, .about .container .row .about-text__words {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #949494;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.wanna .container .wanna-text__form .form-btn, .about .container .row .about-text__btn, .header .container .header-info__words .words-btn {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.12em;
  color: #ffffff;
  background-color: #36aeea;
  border: none;
  border-radius: 4px;
}

.wanna .container .wanna-text__title:before, .journal .container .journal-title:before, .about .container .row .about-text:before {
  content: "";
  background: url("../images/line.png") no-repeat;
  height: 10px;
  width: 83px;
  display: block;
}

.journal .container .journal-box__third-d .third-box .card-body__title, .journal .container .journal-box__firstandsecond .second-box .card-body__title, .journal .container .journal-box__firstandsecond .first-box .card-body__title {
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #36aeea;
}

.journal .container .journal-box__third-d .third-box .card-body__main, .journal .container .journal-box__firstandsecond .second-box .card-body__main, .journal .container .journal-box__firstandsecond .first-box .card-body__main {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 23px;
}

.journal .container .journal-box__third-d .third-box .card-body__text, .journal .container .journal-box__firstandsecond .second-box .card-body__text, .journal .container .journal-box__firstandsecond .first-box .card-body__text {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #949494;
}

.journal .container .journal-box__third-d .third-box .card-body__number, .journal .container .journal-box__firstandsecond .second-box .card-body__number, .journal .container .journal-box__firstandsecond .first-box .card-body__number {
  font-size: 14px;
  font-family: "Times New Roman", sans-serif;
}

.journal .container .journal-box__third-d .third-box .card-body:before, .journal .container .journal-box__firstandsecond .second-box .card-body:before, .journal .container .journal-box__firstandsecond .first-box .card-body:before {
  content: "";
  border: 13px solid transparent;
  display: block;
  position: absolute;
  z-index: 999;
}

.header {
  background: url("../images/header/bg.png") no-repeat center;
  background-size: cover;
  height: 696px;
}
.header .header-nav {
  background-color: rgba(255, 255, 255, 0.32);
  background-size: cover;
  height: 87px;
}
.header .header-nav .container {
  max-width: 1170px;
}
.header .header-nav .container .nav .nav-logo {
  padding-left: 38px;
  font-family: "Bringin";
  font-size: 29px;
  color: #36aeea;
}
.header .header-nav .container .nav .nav-logo span {
  color: #949494;
}
.header .header-nav .container .nav nav .nav-menu {
  padding-right: 39px;
  padding-left: 0;
  justify-content: space-between;
  border-bottom: 2px solid transparent;
}
.header .header-nav .container .nav nav .nav-menu__item a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #949494;
  padding-bottom: 8px;
}
.header .header-nav .container .nav nav .nav-menu__item a:hover {
  border-bottom: 2px solid #36aeea;
}
.header .header-nav .container .nav nav .nav-menu__item .active {
  border-bottom: 2px solid #36aeea;
}
.header .header-nav .container .header-call {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #36aeea;
  border: 3px solid #36aeea;
  padding: 14px 51px;
  margin-left: 30px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
}
.header .container {
  max-width: 1170px;
}
.header .container .header-info {
  background: url("../images/header/arch.png") no-repeat center;
  height: 326px;
  width: 1140px;
  position: relative;
  top: 131px;
  left: 15px;
}
.header .container .header-info__words {
  padding-top: 40px;
  padding-left: 20px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
.header .container .header-info__words .words-maintitle {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 6.5px;
  position: relative;
}
.header .container .header-info__words .words-title {
  font-size: 70px;
  font-family: "Bringin";
  color: #36aeea;
  position: absolute;
  top: 73px;
}
.header .container .header-info__words .words-text {
  padding-top: 43px;
  font-size: 18px;
}
.header .container .header-info__words .words-btn {
  font-size: 14px;
  padding: 23px 73px;
  margin-top: 6px;
}
.header .container .header-info__words .words-btn:hover {
  background-color: #0083b3;
}

.about {
  background-color: #f6f4f4;
  padding-bottom: 116px;
}
.about .container {
  max-width: 1170px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  padding-top: 26px;
}
.about .container:before {
  content: "";
  background: url("../images/about/map.png") no-repeat center center;
  height: 528px;
  width: 1154px;
  display: block;
  margin-left: 93px;
}
.about .container .row {
  position: absolute;
  top: 0;
}
.about .container .row .about-text {
  padding-top: 201px;
}
.about .container .row .about-text:before {
  padding-bottom: 43px;
}
.about .container .row .about-text__title {
  font-size: 20px;
  padding-bottom: 17px;
}
.about .container .row .about-text__words {
  font-size: 14px;
  padding-bottom: 17px;
}
.about .container .row .about-text__btn {
  font-size: 12px;
  padding: 11px 25px;
}
.about .container .row .about-text__btn:hover {
  background-color: #0083b3;
}
.about .container .row .about-img__back {
  position: relative;
  bottom: 37px;
  left: 60px;
}
.about .container .row .about-img__front {
  position: absolute;
  left: 469px;
  top: 279px;
}

.journal .container {
  max-width: 1170px;
}
.journal .container .journal-title {
  font-size: 30px;
  position: relative;
  padding-top: 114px;
  padding-bottom: 72px;
  letter-spacing: 0.05em;
}
.journal .container .journal-title:before {
  position: absolute;
  right: 46.5%;
  top: 69px;
}
.journal .container .journal-box {
  box-shadow: 2px 0 90px 23px rgba(6, 6, 6, 0.13);
  margin-bottom: 91px;
  display: flex;
}
.journal .container .journal-box .row {
  --bs-gutter-x: 0;
}
.journal .container .journal-box__firstandsecond .first-box {
  border: none;
}
.journal .container .journal-box__firstandsecond .first-box .back {
  height: 380px;
  width: 380px;
  border-radius: 0;
}
.journal .container .journal-box__firstandsecond .first-box .front {
  position: absolute;
  height: 81px;
  width: 81px;
  top: 40%;
  left: 20%;
}
.journal .container .journal-box__firstandsecond .first-box .card-body {
  padding: 46px 35px 23px;
  position: relative;
  height: 369px;
  width: 378px;
}
.journal .container .journal-box__firstandsecond .first-box .card-body:before {
  border-right: 13px solid #FFFFFF;
  left: -23px;
  top: 51px;
}
.journal .container .journal-box__firstandsecond .first-box .card-body__title {
  padding-bottom: 46px;
}
.journal .container .journal-box__firstandsecond .first-box .card-body__main {
  padding-bottom: 16px;
}
.journal .container .journal-box__firstandsecond .first-box .card-body__text {
  padding-bottom: 24px;
}
.journal .container .journal-box__firstandsecond .second-box {
  border: none;
}
.journal .container .journal-box__firstandsecond .second-box .card-body {
  padding: 46px 54px 20px;
  position: relative;
  height: 381px;
  width: 378px;
}
.journal .container .journal-box__firstandsecond .second-box .card-body:before {
  border-left: 13px solid #FFFFFF;
  right: -23px;
  top: 51px;
}
.journal .container .journal-box__firstandsecond .second-box .card-body__title {
  padding-bottom: 44px;
  color: #0083b3;
}
.journal .container .journal-box__firstandsecond .second-box .card-body__main {
  padding-bottom: 21px;
}
.journal .container .journal-box__firstandsecond .second-box .card-body__text {
  padding-bottom: 24px;
}
.journal .container .journal-box__firstandsecond .second-box .back {
  height: 382px;
  width: 380px;
  border-radius: 0;
  position: relative;
}
.journal .container .journal-box__firstandsecond .second-box .front {
  position: absolute;
  height: 65px;
  width: 65px;
  top: 42%;
  right: 21%;
}
.journal .container .journal-box__third-d .third-box {
  border: none;
}
.journal .container .journal-box__third-d .third-box .back {
  height: 380px;
  width: 380px;
  border-radius: 0;
}
.journal .container .journal-box__third-d .third-box .front {
  position: absolute;
  height: 74px;
  width: 59px;
  top: 20%;
  right: 42%;
}
.journal .container .journal-box__third-d .third-box .card-body {
  height: 382px;
  padding: 46px 51px 20px;
  position: relative;
}
.journal .container .journal-box__third-d .third-box .card-body:before {
  border-bottom: 13px solid #FFFFFF;
  top: -23px;
  left: 51px;
}
.journal .container .journal-box__third-d .third-box .card-body__title {
  padding-bottom: 45px;
  color: #0083b3;
}
.journal .container .journal-box__third-d .third-box .card-body__main {
  padding-bottom: 45px;
}
.journal .container .journal-box__third-d .third-box .card-body__text {
  padding-bottom: 24px;
}
.wanna {
  background: url("../images/wanna/mount.png") no-repeat center;
  background-size: cover;
  height: 650px;
}
.wanna .container {
  max-width: 1170px;
  position: relative;
}
.wanna .container .wanna-text__title {
  font-size: 20px;
  padding-top: 147px;
  padding-bottom: 5px;
}
.wanna .container .wanna-text__title:before {
  position: relative;
  padding-top: 44px;
}
.wanna .container .wanna-text__words {
  font-size: 16px;
  margin-bottom: 28px;
}
.wanna .container .wanna-text__form {
  background-color: #FFFFFF;
  width: 855px;
  height: 64px;
  padding-top: 13px;
  border-radius: 4px;
}
.wanna .container .wanna-text__form .form-name {
  font-size: 16px;
  border: none;
  padding-left: 22px;
}
.wanna .container .wanna-text__form .form-phone {
  color: #f0f3f6;
  font-size: 16px;
  border: none;
  border-left: 1px solid #f0f3f6;
  border-radius: 0;
  margin-left: 23px;
  padding-left: 22px;
}
.wanna .container .wanna-text__form .form-btn {
  font-size: 16px;
  padding: 17px 56px;
  margin-top: -10px;
  margin-left: 54px;
}
.wanna .container .wanna-text__form .form-btn:hover {
  background-color: #0083b3;
}
.wanna .container .wanna-text__footnote {
  padding-top: 16px;
}
.wanna .container .wanna-text__footnote .footnote-lock {
  height: 19px;
  width: 17px;
  margin-right: 11px;
  margin-top: 2px;
}
.wanna .container .wanna-text__footnote .footnote-text {
  font-size: 14px;
  color: #36aeea;
}
.wanna .container .wanna-photo__minitree {
  position: absolute;
  height: 413px;
  width: 269px;
  top: 237px;
  right: 35px;
}
.wanna .container .wanna-photo__bigtree {
  position: absolute;
  height: 622px;
  width: 437px;
  top: 28px;
}

/*# sourceMappingURL=style.css.map */
